body {
  background-color:rgb(58, 57, 65);
}

.row {
  height: 400px;
}
.container p {
  color: white;
}

.drk-row {
  background-color:rgb(27, 27, 36);
}

.lt-row {
  background-color:rgba(30, 30, 43, 0.973);
}